.footer{
    border-top: #eee 5px solid;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}
.footer-text{
    font-size: 1.5rem;
}