:root::-webkit-scrollbar {
    display: none;
}

.center{
    margin: auto;
}
.center-middle{
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.link{
    color: azure;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
}
.pdf-container{
    width:100%;
    height: 100vh;
    background-color: #111;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

@media screen and (max-width: 870px) {}
@media screen and (max-width: 580px) {}