
.nav-bar{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(209, 100%, 30%);
    height: 75px;
    align-items: center;
}
.nav-bar-document{
    display: flex;
    flex-direction: row;
    background-color: hsl(209, 100%, 30%);
    height: 75px;
}
:root::-webkit-scrollbar {
    display: none;
}
.nav-bar-p{
    font-weight: bold;
    padding-left: 10px;
    font-size: 2rem;
    color: azure;
    text-align: center;
}
.nav-links a{
    color: azure;
    padding-right: 50px;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
}
.nav-links a:last-of-type{
    padding-right: 25px;
}
.home-text{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-text-title{
    text-align: center;
    font-weight: 800;
    color: azure;
    font-size: 3rem;;
}
.home-text-desc{
    text-align: center;
    color: azure;
    font-weight: 700;
    font-size: 2rem;
    padding-right: 5px;
}
#work{
    height: fit-content;
    display: flex;
    flex-wrap:nowrap;
    overflow-x: auto;
    gap: 2rem;
}
#work::-webkit-scrollbar {
    width: 12px;
    height: 17px;
}
#work::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #95a5a6;
    border: 1px solid #cacaca;
}
#work::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #2c3e50;
}
.project-title{
    text-decoration: none;
    padding-top: 85px;
    text-align: center;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: 4rem;
    width: 100vw;
    margin: 0 auto;
    margin-bottom: 5vh;
}
.project-div{
    flex: 0 0 auto;
    border-radius: 2%;
    background-color: #004F98;
    border:5px #004F98 solid;
    margin:10px auto;
    width:310px;
    padding: 3px;
    
}
.project-img{
    object-fit: fill;
    box-sizing: border-box;
    padding: 10px 10px;;
    border-radius: 5%;
    width:100%;
    height:300px;;
}
.project-p{
    text-align: center;
    width: fit-content;
    text-overflow: clip;
    margin: 0 auto; 
    margin: 20px auto;
    font-size: 2.3rem;
    color: azure;
}
.project-a{
    text-decoration: none;
    margin-bottom: 10px;
}
.project-a:hover{
    text-decoration: underline;
    color: azure;
}
.project-a p{
    width: fit-content;
    margin: 0 auto; 
    padding: 20px;
    background-color: hsl(209, 100%, 30%);
    border-radius: 5px;;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.7rem;;
}
#about-me{
    padding-top: 85px;
}
.about-me-title{
    color: azure;
    text-align: center;
    font-size: 4rem;
}
.social-accounts-div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}
.social-accounts-a{
    width:70px;
    margin: 50px auto;
}
.social-accounts-a img:hover{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(95%) contrast(97%);
}
.certificates{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}
.certificate{
    width: 300px;
    height: fit-content;
    background-color:#fff;
    border:solid 3vmin #111;
    border-bottom-color:#000;
    border-left-color:#111;
    border-radius:10px;
    border-right-color:#111;
    border-top-color:#222;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
}
.certificates-title{
    color: azure;
    text-align: center;
    font-size: 4rem;
    margin-bottom:5vh;
}
.footer{
    border-top: #eee 5px solid;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}
@media screen and (max-width: 870px) {
    .nav-bar{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: hsl(209, 100%, 30%);
        height: fit-content;  
    }
    .project-title{
        padding-top: 95px;
    }
    #about-me{
        padding-top: 95px;
    }
    #work::-webkit-scrollbar {
        display: none;
    }
    .certificates-container{
        display: flex;
        flex-wrap:nowrap;
        overflow: auto;
    }
    .certificate{
        height: auto;
    }
    .certificates{
        flex: 0 0 auto;
        gap: 0.5rem;
    }
}
@media screen and (max-width: 580px) {
    .nav-bar-p{
        font-weight: bold;
        padding-left: 10px;
        font-size: 3rem;
        color: azure;
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
    }
    .nav-links a{
        text-align: center;
        padding-right: 0px;
    }
    .nav-links a:last-of-type{
        padding-right: 0px;
    }
    .project-title{
        padding-top: 140px;
    }
    .social-accounts-a{
        width:50px;
        margin: 50px auto;
    }
    #work::-webkit-scrollbar {
        display: none;
    }
    #about-me{
        padding-top: 140px;
    }
    .certificate{
        width: 270px;
    }
    .project-a p{
        font-weight: 600;
        font-size: 2rem;;
    }
    .certificates{
        gap: 1rem;
    }
    .certificate{
        width: 270px;
    }
}