@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 20px;
    overflow-x: hidden;
    font-display: fallback;
}
body{
    font-family:Roboto;
    background: linear-gradient(67deg, #3a3d40 0%, #181719 100%);
    width: 100%;
    height: 100vh;   
}
body::-webkit-scrollbar{
    display: none;
}
p{
    color:  azure ;
    font-weight: 500;
}
a:hover{
    text-decoration: underline;}
h1{
    color: azure;
    text-align: center;
}
h2{
    color: azure;
    text-align: center;
}
h3{
    color: azure;
}
@media screen and (max-width: 870px) {
    *{
        font-size: 18px;
    }
}
@media screen and (max-width: 580px) {
    *{
        font-size: 12px;
    }   
}